{:paths ["src"]
 :aliases
 {;; Common alias to use for all Clojure/Java commands
  :clj {:jvm-opts ["-XX:-OmitStackTraceInFastThrow"]}
  ;; - start a Clojure/Java Socket REPL on port 50505
  :clj-patched {:override-deps {org.clojure/clojure {:mvn/version "1.10.2-master-SNAPSHOT"}}}
  :socket
  {:jvm-opts
   ["-Dclojure.server.repl={:port,50505,:accept,clojure.core.server/repl}"]}
  :cljol {:extra-deps
          {cljol/cljol {:git/url "https://github.com/jafingerhut/cljol"
                        :sha "ff33d97f8375b4a0aaf758295e0aef7185ef9d6e"}}}}}
